<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Safe Bike</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header
			<header id="header">
				<a href="/" class="logo">bike safe</a>
			</header>
			-->

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<h1>bike safe</h1>
					<p>The simplest way to find the safest way to your destination.<br />Map your route based on crime, street lighting, and bike racks.</p>
					<ul class="actions">
						<li><a href="combined-map" class="button scrolly">Let's go!</a></li>
					</ul>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Meet the Team</h2>
					<ul class="actions">
						<li>Christopher Morris</li>
						<li>Grace Yu</li>
						<li>Michael You</li>
						<li>Jessica Yin</li>
					</ul>
				</div>
				<div class="copyright">
					PennApps XV   -   Carnegie Mellon University
					<br>&copy; Untitled. Design <a href="https://templated.co">TEMPLATED</a>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>